/* 这里产生了变量污染，需要改进 */
body {
  /* 加载背景图 */
  background-image: url(../public/dj.jpg);
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: #464646;
}
/* 左上角默认 */
.leftTop {
  position: absolute;
  left: 1vw;
  top: 3vh;
}
/* 左下角 */
.leftBottom {
  /* display: flex; */
  position: absolute;
  left: 3vw;
  bottom: 3vh;
}
/* 右上角 */
.rightTop {
  position: absolute;
  right: 3vw;
  top: 3vh;
}
/* 右下角 */
.rightBottom {
  position: absolute;
  right: 3vw;
  bottom: 4vh;
}
.button_connect {
  width: 30vw;
  height: 10vh;
}
